@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bowlby+One+SC&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  padding: 0;
  margin: 0;
  background: -webkit-linear-gradient(to top, #949494, #efefef);
  background: linear-gradient(to top, #949494, #efefef);
}

* {
  padding: 0;
  margin: 0;
}

.logo img {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.body p {
  font-family: "Montserrat";
}

div.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 3em 0 0;
  color: rgb(0, 0, 0);
}

div.container {
  font-family: Raleway;
}

div.container a {
  color: black;
  text-decoration: none;
  font: 18px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.anim-nav-options a:before,
div.anim-nav-options a:after {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 2px;
  content: "";
  background: rgb(0, 0, 0);
  transition: all 0.3s;
}

div.anim-nav-options a:before {
  left: 0px;
  top: 0px;
}

div.anim-nav-options a:after {
  right: 0px;
  bottom: 0px;
}

div.anim-nav-options a:hover:before,
div.anim-nav-options a:hover:after {
  opacity: 1;
  height: 2px;
  width: 100%;
}

.plan-head {
  margin-top: -5vh;
  margin-left: 20vw;
  height: 45vh;
  width: 60vw;
  padding-right: 3vw;
}

.plan {
  margin-top: 10vh;
  display: grid;
  color: rgb(17, 4, 61);
}

.heading {
  text-align: left;
  font-size: 60px;
}

.subtitle {
  text-align: left;
  font-size: 40px;
}

.subtitle span:nth-child(1) {
  color: rgb(50, 129, 194);
  font-weight: bold;
}

.subtitle span:nth-child(2) {
  color: rgb(19, 172, 88);
  font-weight: bold;
}

.subtitle span:nth-child(3) {
  color: rgb(185, 29, 81);
  font-weight: bold;
}

.options {
  width: 100vw;
  height: 45vh;
  display: grid;
  box-shadow: 0 0 10px rgb(190, 190, 190);
}

.options span {
  height: 45vh;
  font-size: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options span:nth-child(1) {
  background-image: url("./images/itinerary.jpg");
  grid-column: 1 / span 2;
  filter: grayscale(0.8);
}

.options span:nth-child(2) {
  background-color: rgb(11, 11, 24);
  background-image: url("./images/lux_suite.jpg");
  grid-column: 3 / span 2;
  filter: grayscale(0.5);
  height: 45vh;
}

.options span:nth-child(3) {
  background-image: url("./images/rental.jpg");
  grid-column: 5 / span 2;
  height: 45vh;
  filter: grayscale(0.9);
  color: white;
}

.accommodation,
.packages,
.rental {
  min-height: 100vh;
  background-color: white;
}

.acco,
.pack,
.rent {
  background-color: white;
  width: 100vw;
  height: 21vh;
  padding-bottom: 0.9vh;
  margin-bottom: -1vh;
}

.acco-head,
.pack-head,
.rent-head {
  height: 18vh;
  width: 70%;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 10px rgb(0, 0, 0);
  background-color: white;
  background-image: linear-gradient(
    to top,
    rgb(141, 232, 248),
    rgb(201, 201, 201)
  );
  border-bottom-right-radius: 750px;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.card {
  padding: 3px;
}

.card-heading {
  font-size: 1.25rem;
  margin: 7px;
  line-height: 1.25em;
}

.styled-link {
  margin-left: 10px;
  text-decoration: none;
  outline: none;
  color: #000000;
  transition: all 0.25s ease-in;
}

.styled-link:hover,
.styled-link:focus,
.styled-link:active {
  color: #000000;
}

.hover-effect {
  width: 350px;
  overflow: hidden;
  border-radius: 2px;
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px black;
}

.hover-effect img {
  width: 350px;
  height: 40vh;
}

.hover-effect:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #56e792;
}

.packages {
  min-height: fit-content;
}

.pack-head {
  background-image: linear-gradient(
    to top,
    rgb(197, 238, 121),
    rgb(255, 255, 112)
  );
}

.packages .hover-effect {
  width: 4750px;
  height: 70vh;
  margin: 20px;
}

.packages .hover-effect img {
  width: 475px;
}

.rent-head {
  background-image: linear-gradient(
    to top,
    rgb(236, 142, 65),
    rgb(243, 150, 114)
  );
}

.go-to-top {
  position: fixed;
  bottom: 4vh;
  right: 2vw;
  font-size: 50px;
  line-height: 0.5em;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #000;
  color: white;
  text-align: center;
}

.card p {
  padding-left: 7px;
}

.site-footer {
  background-color: #26272b;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  display: flex;
  flex-direction: row;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: flex;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

.container1 {
  width: 100%;
}

.container2 {
  width: 400px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

.col4 {
  padding: 10px;
  padding-top: 20px;
}

.col3 {
  padding-left: 700px;
  padding-right: 200px;
  bottom: 0%;
}
